@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #222222;
    padding: 19px 0;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.logo {
    display: flex;
    gap: 41px;
}

.header_search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_btn {
    display: flex;
    gap: 33px;
}

.header_btn_icon {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.banner {
    background-color: #f1e4e6;
	margin-bottom: 65px;
}

.banner_section {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_title {
    height: 92px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.banner_mainTitle {
    color: #222;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.banner_subtitle {
    color: #222;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.red_text {
color: #F16D7F;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
    gap: 30px;
    margin-bottom: 96px;
}

.categories_card {
    position:relative;
    text-align: center;
}
.accesories {
    grid-column: 1/4;
}

.img_filter {
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #211616;
	opacity: 0.7;
}

.categories_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories_text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.categories_mainTitle {
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.catalog {
    margin-bottom: 60.5px;
}

.catalog_title {
    color: #222;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 6px;
}

.catalog_text {
    color: #9F9F9F;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 48px;
}

.catalog_cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 48.5px;
}

.catalog_card {
background-color: #F8F8F8;
}

.card_description {
    padding: 23px 20px 16.5px 29px;
}

.card_name {
    color: #000;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.card_text {
    color: #5D5D5D;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.card_price {
    color: #f16d7f;
    font-size: 16px;
    font-family: Lato;
}

.card_background {
    display: flex;
    justify-content: center;
    height: 420px;
    background-color: #f7e4e2;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}

.catalog_btn {
    color: #f26376;
    font-size: 16px;
    font-family: Lato;
    border: 1px solid #ff6a6a;
    padding: 14.5px 38.5px 13.5px 38.5px;
    background-color: #fff;
    
}

/* Адаптив для планшета */

@media (max-width: 768px) {
    .container {
        width: 736px;
    }  
    .header_btn {
        gap: 25px;
    }
    .banner {
        margin-bottom: 110px;
    }
    .banner_section img {
        width: 386px;
    }
    .banner_mainTitle {
        font-size: 44px;
    }
    .banner_subtitle {
        font-size: 24px;
    }
    .categories {
        margin-bottom: 110px;
    }
    .catalog {
        margin-bottom: 70px;
    }
    .catalog_text {
        margin-bottom: 73px;
    }
    .catalog_cardList {
        margin-bottom: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16 px;
    }
    /* Адаптив для моб.телефона */

@media (max-width: 375px) {
    .container {
        width: 359px;
    }    
    .collapse_icon{
        display: none;
    }
    .banner {
        height: 363px;
        margin-bottom: 64px;
        display: flex;
        justify-content: center;
    }
    .banner_section img {
        display: none;
    }
    .banner_mainTitle {
        font-size: 38px;
    }
    .banner_subtitle {
        font-size: 20px;
    }
    .categories {
        width: 343px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 64px;
    }
    .accesories{
        grid-column: 1/2;
    }
    .accesories img {
        height: 111px;
    }
    .catalog_title {
        margin-bottom: 3px;
    }
    .catalog_text {
        margin-bottom: 64px;
    }
    .catalog_cardList {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        margin-bottom: 64pxpx;
    }
}
}

