body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.menuLink {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.firstTitle {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    color: coral;
}

.imgAboutMe {
    border-radius: 10px;
    width: 200px;
}

.formInput {
    width: 400px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.btn {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    color: crimson;
}



